@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bakbak+One&family=Lato:wght@700;900&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif !important;
}

body{
  background-color: #fff;
}

button:is(:active).active{
  background-color: #ff4d30;
  color:#fff;
}

.bg-shape{
  position: absolute;
  right:0;
  top:0;
  z-index: -1;
}


.logo-dark{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  height:25px;
}

 nav.navbar{
  background-color: transparent !important;
  padding-top:30px;
  align-items: center !important;
  justify-content: space-between;
  z-index: 99999;
  position: absolute;
  top:0;
  width:100%;
}

.basic-navbar-nav{
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

.logo-container{
  display:flex;
  flex-direction: row;
  gap:8px;
  margin-right:30px;
}

.car-logo{
  width:40px;
}

.navbar-brand{
  display: flex;
  flex-direction: column;
  height:60px;
}

.user-login-container{
  gap:10px;
  display: flex;
}

.sign-in-btn{
  border:none;
  background-color: transparent;
  padding:10px;
  font-size: 15px;
  font-weight: bold;
}

.register-btn{
  border:none;
  background-color: #ff4d30;
  padding:10px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  color:#fefefe;
  box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
}

.register-btn:hover {
  background-color: #da2e42;
}

/* //////////////////////////////// */
/* sign in and register modal styling */
/* //////////////////////////////// */

.modal-content{
  padding:15px;
  padding-bottom: 55px;
  padding-top: 25px;
}

.modal-title{
  text-align: center;
}

.signup-discount{
  text-align: center;
}

.modal-login-signup-form{
  margin-bottom:10px;
  border-radius: 3px;
}

.modal-bottom-btn{
  width:100%;
  background-color: #ff4d30;
  border:none;
  border-radius: 3px;
  box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
font-weight: bold;
}

.benefits-span{
  color:#ff4d30;
}



.nav-link{
  font-weight:bold !important;
  color:#000;
}

.nav-link:hover{
  font-weight:bold !important;
  color:#ff4d30;
}

.signin-btn-modal{
  background-color: transparent;
  color:#000;
  border:none;
  font-weight: bold;
  vertical-align: middle;
  margin-top:8px;
}

.signin-btn-modal:hover{
  background-color: transparent;
  color:#000;
}

.signin-btn-modal:active{
  background-color: transparent;
  color:#000;
}

.forgot-password{
  text-decoration: none;
  color:#000;
  font-weight: 500;
  text-align: center;
}

.main-row{
  margin-top:250px;
}

.main-info-col{
  max-width: 450px;
}

.main-header-h1{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-header-h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.main-header-info-text{
  margin-bottom: 30px;
  color:gray;
  font-weight: 500;
}



.big-span{
  color:#ff4d30;
}

.main-btn{
  border:none;
  margin-right:15px;
  margin-top:15px;
  padding:13px;
  padding-left:25px;
  padding-right:25px;
  border-radius: 3px;
  box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
font-weight: bold;
color:#fefefe;
}

.book-rides-btn{
  background-color: #ff4d30;
}

.learn-more-btn{
  background-color: #000;
}

.check-mark{
  width:14px;
  color:white;
  margin-left:10px;
}

.learn-arrow{
  width:15px;
  margin-left:10px;
}

.red-car-main-img{
  width:100%;
}

.navbar-toggler{
  border:none;
}

.navbar-toggler-icon{
  background-color: transparent;
}

/* car booking section */

.rental-section{
  background-image: url(./assets/img/rentalbgimg.png);
  /* background: linear-gradient(180deg,#f8f8f8 20%,#fff 80%); */
  background-color: #fff;
  margin-top: 200px;
  margin-bottom: 53px;
  margin-left: 150px;
  margin-right: 150px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
  padding: 0;
  padding-top:50px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.car-booking-title{
  font-weight: bold;
}

.rental-col {
  display:flex;
  flex-direction: row;
  width:100%;
  gap:15px;
}

.rental-row{
  display: flex;
  flex-direction: column;
}

.rental-form-container{
  width:33%;
}

.rental-form-title{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.rental-form{
  width:33%;
}

.rental-form-input{
  width:100%;
  border-color: #f5f5f5;
  border-style: solid;
  padding:5px;
  border-radius: 5px;
  color:gray;
}

.search-rental-btn{
  margin-top:55px;
  border:none;
  background-color: #ff4d30;
  color:#fefefe;
  font-size: 20px;
  font-weight: bold;
  width:100%;
  padding:5px;
  border-radius: 3px;
  box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
}

.rental-icons{
  margin-right:10px;
  width:20px;
}

/* //////////////////////////// */
/* bubbles section  */
/* //////////////////////////// */

.bubbles-section{
  padding-top: 53px;
  margin-bottom:150px;
  background-color: #fff;
}

.bubbles-section-title{
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.bubbles-section-title2{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top:20px;
}

.bubbles-container{
  display:flex;
  flex-direction: row;
}

.bubble{
  width:33%;
  text-align: center;
  margin-top:150px;
}

.select-car-icon{
  width:90px;
}

.bubble-title{
  margin-top:55px;
  margin-bottom:15px;
  font-weight: bold;
  font-size: 28px;
}

.bubble-text{
  font-size: 16px;
  width:90%;
  margin:0px;
  text-align: center;
  display: inline-block;
  color:gray;
  font-family:Arial, Helvetica, sans-serif !important ;
}

/* /////////////////////////////// */
/* model view section  */
/* ///////////////////////////////// */

.model-section{
  background-color: #fff;
}

.model-view{
  text-align: center;
}

.model-title{
  font-size: 24px;
}

.model-title2{
  font-size:42px;
  font-weight: bold;
}

.model-text{
  font-size: 16px;
}

.model-btn-container{
  display: flex;
  flex-direction: column;
  width:20%;
  gap:5px;
}

.model-btn{
  border:none;
  background-color: transparent;
  padding:15px;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  background-color: #f8f8f8;
}

.model-btn:focus{
  background-color: #ff4d30;
  color:#fefefe;
}
.model-btn:hover{
  background-color: #ff4d30;
  color:#fefefe;
}


.model-view-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:80%;
  width:100%;
}

.model-img-container{
  width:30rem;
  margin-top:60px;
  text-align: center;
}

.model-img{
  width:100%;
  
}

.model-info-container{
  width:20%;
}

.model-info-table{
  width:100%;
  font-size: 14px;
  /* height:68%; */
}

.model-table-cell{
  text-align: center;
  border:solid 1px;
  padding:10px;
}

.table-button{
  border:none;
  background-color: #ff4d30;
  color: white;
  font-weight: bold;
  font-size: 23px;
  padding:5px;
  width:100%;
  margin-top:15px;
  box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
}

.table-header{
  width:100%;
  font-size: 18px;
  background-color: #ff4d30;
  color:#fff;
  padding:5px;
  margin:0px;
  border-left:1px solid #000;
  border-right:1px solid #000;
  border-top:1px solid #000;
  text-align: center;
  padding-bottom: 15px;
  font-weight: bold;
}

.table-header-span{
  font-size: 30px;
}

.model-wrapper{
  display: flex;
  flex-direction:row ;
}

.display.info{
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.hide.info{
  display:none;
}

.button-wrapper{
  display: flex;
}

/* /////////////////////////// */
/* break point section  */
/* /////////////////////////// */

.breakpoint-section{
  background-color: #2d2d2d;
  margin-top:250px;
  color:#fff;
  padding:50px;
  text-align: center;
}

.breakpoint-title{
  font-size: 50px;
  font-weight: bold;
}

.breakpoint-title2{
  font-size: 22px;
  margin-top:20px;
}

.bp-title2-span{
  color:#ff4d30;
}

/* //////////////////// */
/* Package section  */
/* /////////////////// */

.package-section{
  background-color: #fff;
  background-image: url(./assets/img/tirebgimg.png);
  background-position: -225px 255px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0 10rem;
}

.cars-img{
  align-items: center;
  width:100%;
}

.package-section-content-container{
  display: flex;
  flex-direction: row;
  margin-top:75px;
  justify-content: space-between;
  gap:200px;
}

.package-side-info-container{
  display: flex;
  flex-direction: column;
}

.package-side-info{
  width:100%;
  padding:15px;
  text-align: left;
  justify-content: end;
}

.package-row{
  display: flex;
  flex-direction: row;
}

.package-left-info{
  width:100%;
  margin-right:20px;
  padding:15px;
  padding-left:50px;
}

.package-title{
  font-weight: bold;
  font-size: 23px;
}

.package-text{
  width:70%;
  margin-top:10px;
}

.info-title{
  font-size: 20px;
  font-weight: bold;
}

.info-title2{
  font-weight: bold;
  font-size: 35px;
  width:70%;
}

.info-text{
  font-size:15px;
  width:100%;
  margin-top:20px;
}

.info-btn{
  padding:13px;
  padding-right:25px;
  padding-left:25px;
  background-color: #ff4d30;
  color:#fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
}

.side-info-img{
  width:60px;
  height:100%;
  margin-right:20px;
  
}

/* ///////////////////////////// */
/* review section  */
/* ///////////////////////////// */

.review-section{
  padding-top:100px;
  padding-bottom:150px;
  background-color: #f8f8f8;
  
}

.review-title-container{
  text-align: center;
  /* width:75%; */
}

.review-title{
  font-size: 20px;
  font-weight: bold;
}

.review-title2{
  font-size: 35px;
  font-weight: bold;
}

.review-text{
  font-size: 15px;
  padding-left: 335px;
  padding-right: 335px;
  margin-bottom: 100px;
}

.review{
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.review-box{
  padding-left:50px;
  padding-right:50px;
  width:100%;
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
  padding: 5.5rem;
}

.review-container{
  width:100%;
}

.review-img{
  width:45px;
  height:100%;
  margin-right:15px;
  border-radius: 100px;
}

.review-profile-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.profile-img-name-location{
  display: flex;
  flex-direction: row;
}

.profile-review-name{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;

}

.profile-review-location{
  font-size: 15px;
}

.reviews{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:3%;
}

/* ////////////////////////// */
/* FAQ section  */
/* ///////////////////////// */

.faq-section{
  /* margin-top:250px;
  margin-left:250px;
  margin-right:250px; */
  background-image: url(./assets/img/minicoop.png);
    background-position: 0 70%;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 10rem 0;
}

.faq-header{
  text-align: center;
  /* width:50%; */
}

.faq-header-title{
  font-size: 22px;
  font-weight: bold;
}

.faq-header-title2{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 17px;
}

.faq-header-text{
  padding-left: 100px;
  padding-right: 100px;
  /* width:600px; */
  /* align-items: center !important; */
}

.wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
}

.accordion{
  width:60%;
}

.item{
  background-color: #fff;
  /* margin-bottom:5px; */
  padding:5px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
  /* height:60px; */
}

.title:hover{
  background-color: #ff4d30;
  color:#fff;
}

.title{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  /* padding-right: 15px; */
  margin-bottom:20px;
  border-radius: 3px;
}

.arrow-img{
  /* height:100%; */
  padding-top:7px;
}

.question-title{
  font-size: 17px;
  font-weight: 600;
  padding:15px;
  padding-left:20px;
  padding-right:20px;
  border:none;
  background-color:#fff;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:5px;
}

.question-title:focus{
  background-color: #ff4d30;
  color:#fff;
  border-radius: 4px;
  box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
}
.question-title:hover{
  background-color: #ff4d30;
  color:#fff;
  border-radius: 4px;
  box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
}

.title:focus{
  background-color: #ff4d30;
}

.content{
  color:gray;
  padding-left:20px;
  padding-right:20px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
  height:auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}


/* ////////////////////////// */
/* Appstore section  */
/* ///////////////////////// */

.appstore-section{
  padding-top:100px;
  padding-bottom:100px;
  background-image: url(./assets/img/phoneapp.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height:auto;
  display:flex;
  flex-direction: row;
  background-color: #f8f8f8;
}


.app-info-container{
  display: flex;
  flex-direction: column;
  width:45%;
}

.phone-img-container{
  width:45%;
}

.google-img{
  align-items: center;
  cursor: pointer;
}

.app-wrapper{
  display:flex;
  flex-direction: row;
  gap:10%;
}

.app-title{
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}

.app-text{
  font-size: 18px;
}

/* ////////////////////////// */
/* Footer section  */
/* ///////////////////////// */

.footer-section{
  margin-top:50px;
  margin-bottom: 70px;
}

.footer-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:5%;
}

.footer-info-container{
  width:20%;
  display: flex;
  flex-direction: column;
}

.footer-title{
  font-weight: bold;
  font-size: 20px;
}

.footer-icon{
  margin-right: 10px;
}

.footer-submit-btn{
  margin-top:20px;
  border:none;
  background-color: #ff4d30;
  color: #fff;
  padding:13px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
}

.footer-input{
  padding:10px;
  border:none;
  text-align: center;
  background-color: #f8f8f8;
}


/* //////////////////////////// */
/* ABOUT ROUTE SECTION  */
/* //////////////////////////// */

 .hero-pages{
  background-image: url(./assets/img/about-hero-img.png);
  background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    width: 100%;
 }

 .hero-pages__overlay{
  background-color: hsla(0,0%,100%,.92);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
 }

 .hero-pages__text{
  color: #010103;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 3;
 }

 .hero-pages__text h3{
  font-size: 36px;
  font-weight: bold;
 }



.about-main-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:5%;
  align-items: center;
  margin-top:100px;
  padding-bottom: 153px;
  /* width:80%; */
}

.about-block-info{
  margin-top:50px;
  display: flex;
  flex-direction: column;
  width:25%;
}

.about-block-img{
  width:5rem;
}

.about-block-text{
  display: flex;
  flex-direction: row;
  margin-top:10px;
  gap:8px;
}

.about-block-text-1{
  font-size: 46px;
  font-weight: bold;
}

.block-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.garage{
  width:3.5rem;
}

.about-main-text-title1{
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom:5px;
}

.about-main-text-title2{
  font-size: 3.2rem;
  font-weight: 600;
  /* line-height: ; */
  margin-bottom:5px;
}

.about-banner{
  background-color: #2d2d2d;
    display: flex;
    height: 11rem;
    margin-top: 7rem;
    margin-bottom:150px;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
}

.banner-overlay{
  background-color: #2d2d2d;
    height: 100%;
    opacity: .89;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.text-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* gap:5%; */
  padding-top:4rem;
}

.about-break-text{
  color:#fff;
  z-index: 9999;
  opacity: 1;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.about-number{
  color:#ff4d30;
  font-size: 31px;
  font-weight: bold;
}

/* //////////////////////////// */
/* MODEL ROUTE SECTION  */
/* //////////////////////////// */

.models-section-wrapper{
  align-items: center;
}

.star-icon{
  width:1.4rem;
}



.models-div{
  grid-gap: 3rem;
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* margin: auto; */
    padding: 10rem 0;
    text-align: center !important;
    /* width: 350px; */
    padding-bottom: 0px;
    margin-right: 0px !important;
}

.models-div__box{
  border: 1px solid #d5d5d5;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* margin:30px; */
}

.models-div__box__img{
  border-radius: 0.3rem;
  height: auto;
  width: 100%;
}

.models-div__box__img img{
  height: 270px;
  width: 100%;
  /* margin-top:15px; */
  /* border-radius: 10px; */
}

.models-div__box__descr{
  color: #010103;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.models-div__box__descr__name-price{
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* height:80px; */
}

.models-div__box__descr__name-price img{
  width:1.2rem;
  height:1.2rem;
}

.models-div__box__descr__name-price__name{
  display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.models-div__box__descr__name-price__name p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom:0px;
  margin-left:3px;
}

.models-div-star__icon {
  display: flex;
    gap: 0.1rem;
}

.models-car-icon{
  width:2.0rem !important;
  height:2.0rem !important;
  margin-top:0px !important;
}

.model-div__descr__box{
  display: flex;
  flex-direction: row;
  height:27px;
  margin-top:20px;
  gap:10px;
  justify-content: space-between;
}

.models-descr-text{
  margin-top:3px;
  /* padding-left:10px; */
  font-size: 18px;
  color:gray;
}

.models-div__box__descr__name-price__details{
  grid-row-gap: 2rem;
    grid-column-gap: 7rem;
    border-bottom: 1px solid #c6c6c6;
    -moz-column-gap: 7rem;
    -webkit-column-gap: 7rem;
    column-gap: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
    padding-bottom: 2.5rem;
    row-gap: 2rem;
    margin-top:0px !important;
}

.models-div__box__descr__name-price__btn{
  background-color: #ff4d30;
    border: 2px solid #ff4d30;
    border-radius: 0.2rem;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.35);
    cursor: pointer;
    font-size: 1.8rem;
    padding: 10px;
    transition: all .3s;
}

.models-div__box__descr__name-price__btn a{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

/* //////////////////////////// */
/* CONTACT ROUTE SECTION  */
/* //////////////////////////// */

.contact-div{
  grid-gap: 3rem;
    background-image: url(./assets/img/contact-bg.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    color: #010103;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 10rem 2rem;
}

.contact-div__text{
  display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 41rem;
}

/* mobile collapsed */

@media screen and (max-width: 1150px){

.models-div {
    grid-template-columns: 1fr 1fr;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin-right:0px !important;
}
}

@media screen and (max-width:990px){

  .navbar-collapse{
    background-color: #fefefe;
  }

  .models-div {
    grid-template-columns: 1fr;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
  }

  .red-car-main-img{
    display:none;
  }

  .main-img-container{
    display:none;
  }

  .main-row{
    justify-content: center;
  }

  .main-btn-container{
    text-align: center;
  }

  .rental-col{
    flex-direction: column;
  }

  .rental-form{
    width:100%;
  }

  .nav-link{
    width:100%;
    text-align: left;
  }

  .rental-section{
    margin-right:20px;
    margin-left:20px;
  }

  .bubbles-container{
    flex-direction: column;
    align-items: center;
  }

  .bubble{
    width:80%;
  }

  .model-view-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .model-btn{
    width:100%;
    display: inline;
    text-align: center;
  }

  .model-btn-container{
    width:100%;
    margin-top: 20px;
  }

  .model-img-container{
    width:20rem;
  }

  .model-img{
    width:100%;
  }

  .model-info-container{
    width:100%;
  }

  .package-section-content-container{
    flex-direction: column;
    gap:80px;
  }

  .package-side-info{
    /* padding-left:25%; */
    margin-top:50px;
  }

  .package-left-info{
    /* margin:30px; */
    /* padding-left: 20%; */
    text-align: center;
    padding-left:15px;
  }

  .info-title2{
    width:100%;
  }

  .info-text{
    width:100%;
  }

  .package-row{
    flex-direction: column;
    text-align: center;
    width:100%;
  }

  .package-text{
    width:100%;
  }

  .side-info-img{
    margin-right:0px;
    margin-bottom:30px;
  }

  .breakpoint-title{
    font-size: 30px;
  }

  .breakpoint-title2{
    font-size: 18px;
  }

  .review-section{
    padding-bottom: 100px;
  }

  .review-text{
    padding:15px;
  }

  .review-box{
    padding:40px;
  }

  .reviews{
    flex-direction: column;
    gap:80px;
  }

  .faq-section{
    margin-left:0px;
    margin-right:0px;
    background-image: none;
  }
  
  .accordion {
    width:100%;
  }

  .faq-header{
    margin-bottom:80px;
  }

  .faq-header-text{
    padding-left: 0px;
    padding-right: 0px;

  }

  .arrow-img{
    padding-top:15px;
  }

  .app-wrapper{
    flex-direction: column;
    text-align: center;
  }

  .app-info-container{
    width:100%;
  }

  .phone-img-container{
    width:50%;
    display:none;
  }

  .phone-img{
    width:100%;
  }

  .google-img-l{
    width:100%;
  }

  .appstore-section{
    margin-top:0px;
  }

  .footer-wrapper{
    flex-direction: column;
  }

  .footer-info-container{
    width:100%;
    text-align: left;
    margin-bottom: 20px;
  }

  .footer-text{
    margin-bottom: 8px;
    margin-left:4px;
  }

  .bg-shape{
    display: none;
  }

  .about-main-wrapper{
    flex-direction: column;
    text-align: center;
    padding-bottom: 100px;
  }

  .about-img{
    padding-left:0px;
    /* padding-right:25px; */
    width:90%;
    align-items: center !important;
    text-align: center !important;
  }

  .block-wrapper{
    flex-direction: column;
    align-items: center;
  }

  .about-banner{
    margin-top:0px;
  }

  .about-block-text{
    flex-direction: column;
  }

  .about-block-img{
    margin-left: 10px;
  }

  .about-block-img.garage{
    margin-left: 20px;
  }

  .bubble{
    margin-top:50px
  }

  .about-main-text-title1{
    font-size:22px ;
    margin-top:50px;
  }

  .about-main-text-title2{
    font-size:42px ;
  }

  .about-main-text1{
    margin-top:20px;
    color:gray;
  }

  .text-content{
    flex-direction: column;
    padding-top:30px;
    text-align: center;
  }

}